header ul {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
}
header ul li {
    flex: 1;
    padding: 15px;
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #333;
}

header > div {
  display: flex;
}

header a {
  color: #009688;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}
header ul li:not(:first-of-type) {
    border-left-color: white; /*border fix, will not work if > 3 items */
}